//Font Size
$extra_small-size :14px;
$small-size :16px;
$medium-size:18px;
$large-size:20px;
$extra-large-size:22px;
//Font weight   
$regular:400;
$medium:500;
$bold:600;
$semi_bold:600;
$extra_bold:600;

//colors
$primary-color:#f00000;
$seconday-color:#e6f0f9;
$black-color:#000;
$white-color:#ffffff;
$border-color:#ddd;
$btn-bg-color:#F44336;